@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  svg {
    #axisY-type {
      font-size: 20px;
      letter-spacing: 8px;
    }
  }
  .tooltip {
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

#legend {
  outline-offset: 5px;
  outline: 1px solid #c0c0bb;
}
div {
  position: absolute;
  transition-duration: 0.5s;
  transition-property: opacity;
}

#title {
  font-size: 2em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  fill: #635f5d;
}
#headline {
  font-size: 1.5em;
  font-weight: 100;
  font-style: italic;
  fill: #8e8883;
}
